language: node_js

dist: focal

# Remove this if using external Travis
group: focal


node_js:
- 18
- 20

before_install:
- node --version
- npm --version

script:
- npm run build
- npm run test-travis || travis_terminate 1
- npm run lint
- npm run check-packages


# To enable semantic-release, uncomment this section.
# deploy:
# - provider: script
#   skip_cleanup: true
#   script: npx semantic-release
#   on:
#     node: 20
#     branch: main
